<div class="row">
<!-- <leaflet center="london" markers="markers" height="480px" width="100%"></leaflet> EVENTS WILL STILL FIRE but all will for each directive-->
   <!-- NOTICE events attribute is optional it is more for options in whitelisting (enable), blacklisting (disable), and logic (emit or broadcast)  -->

     <leaflet center="london" markers="markers" height="480px" width="100%"></leaflet>
   <div class="row">
     <h1>Add/remove markers easily example</h1>
     <button ng-click="removeMarkers()">Remove markers</button>
     <button ng-click="addMarkers()">Add markers</button>
   </div>
</div>
